		hr {
			margin-top: 35px;
		}
		.container {
			width: 700px;
		}
		.flag {
			position: relative;
		}
		.left_flag {
		
			float: left;
		}
		.right_flag {
			
			float: right;
		}
		.jumbotron {
			height: 280px;
			font-size: 18px;
		}
		.results {
			display: inline;
			float: left;
			text-align: center;
			position: relative;
			height: 128px;
			padding: 50px 4px 0px 4px;
			width: 124px;

		}
		.result_left {
			float: left;
		}
		.result_right {
			float: right;
		}
		.progress_bar {
			width: 580px;
			height: 20px;
			position: relative;
		}
		.timer {
			position: relative;
			text-align: center;
			height: auto;
			width: 580px;
			margin-top: 18px;
			margin-bottom: 23px;
		}
		.country {
			font-size: 15px;
			padding-top: 50px;
			height: 128px;
			position: relative;
			width: 85px;
		}
		.countryLeft {
			float: left;
			padding-right: 10px;
			text-align: right;
		}
		.countryRight {
			float: right;
			padding-left: 10px;
			text-align: left; 
		}
		.popover {
			max-width: 300px!important;
			width: 275px!important;
			height: 100px!important;
			background-color: #fff;		
		}
	